.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
  }
  input{
  width: 10em;
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
    border: 0
  }

  .deleteButton {background-color: #f44336;} /* Red */

  .example-card {
    max-width: 370px;
    float: right;
  }

  .example-header-image {
    background-image: url('https://steemitimages.com/p/2gsjgna1uruvUuS7ndh9YqVwYGPLVszbFLwwpAYXYznNRccWt3nc94HYodrhrewMugmSXwB3yNi3Qs12aevxUiaPoW7SQe7NLt9KJ13ZQqSSDdpjWN?format=match&mode=fit');
    background-size: cover;
  }
  .active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }

<<<<<<< HEAD
          .active-pink .fa, .active-pink-2 .fa {
                color: #f48fb1;
              }
=======

  .active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }

  .active-cyan .fa,
  .active-cyan-2 .fa {
  color: #4dd0e1;
  }

  .active-purple .fa,
  .active-purple-2 .fa {
  color: #ce93d8;
  }

  .active-pink .fa,
  .active-pink-2 .fa {
  color: #f48fb1;
  }


label {
  /* Presentation */
  font-size: 48px
}

/* Required Styling */

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}

          .active-pink .fa, .active-pink-2 .fa {
                color: #f48fb1;
              }

>>>>>>> 04324cc481210200b4db4ab35c1a789f71dea974
