<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">title</th>
          <th scope="col">description</th>
          <th scope="col">type</th>
          <th scope="col">preparationtime</th>
          <th scope="col">cookingtime</th>
          <th scope="col">content</th>
          <th scope="col">difficulty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td>{{ recipe.id }}</td>
          <td>{{ recipe.title }}</td>
          <td>{{ recipe.description }}</td>
          <td>{{ recipe.type }}</td>
          <td>{{ recipe.preparationtime }}</td>
          <td>{{ recipe.cookingtime }}</td>
          <td>{{ recipe.content }}</td>
          <td></td>
          <td><button class="button deleteButton" (click)="deleteRecipe(recipe.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
