<h1>Add Recipe steps</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
  <h2>Steps</h2>

  <div formArrayName="stepsArray">
    <div *ngFor="let item of stepsArray.controls; let pointIndex=index" [formGroupName]="pointIndex">
    <label>
      Step Description: <span class="required-asterisk">*</span> <input formControlName="description"  required maxlength="255" minlength="2" />&nbsp;&nbsp;
    </label>
    <label>
      Image link: <input formControlName="image" />
    </label>
    <button class="btn btn-danger" (click)="deleteSellingPoint(pointIndex)">Delete step</button>
    </div>
    <button mat-flat-button (click)="addSellingPoint($event)" color="primary">+</button>
  </div>
  <hr>
  <button [disabled]="!productForm.valid" type="submit" class="btn btn-info">Add Step(s)</button>

</form>

<hr>
<h1>Existing steps for this Recipe</h1>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let step of steps" cdkDrag>
      {{step.description}} &nbsp;
      <button class="btn btn-danger" (click)="deleteStep(step.id)">Delete step</button>
    </div> 
</div>
  